/* Center content horizontally  */
         .center {
         text-align: center;
         font-family: 'helvetica';
         color: #1261A0;
         font-size: 35;
         font-style: normal;
         }
         /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
         #map {
         height: 100%;
         background-color: grey;
         outline-style: solid;
         outline-color: #1261A0;
         }
         html,
         body {
         height: 100%;
         margin: 0px;
         }
         /* Styling for an info pane that slides out from the left.
         * Hidden by default. */
         #panel {
         height: 100%;
         width: null;
         background-color: white;
         position: fixed;
         z-index: 1;
         overflow-x: hidden;
         transition: all .2s ease-out;
         }
         .open {
         width: 250px;
         }
         /* Styling for place details */
         .hero {
         width: 100%;
         height: auto;
         max-height: 166px;
         display: block;
         }
         .place,
/*         p {
         font-family: helvetica;
         padding-left: 18px;
         padding-right: 18px;
         }*/
         .details {
         color: darkslategrey;
         }
         a {
         text-decoration: none;
         color: cadetblue;
         }